In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/third_batch.csv")

In [3]:
df = df.dropna()

In [4]:
df

                         data
0              "Mariya_way97"
1                    "xpucun"
2                "Confetinka"
3                 "Jakerasel"
4                    "Trnvsk"
...                       ...
3612              "Serferali"
3613  "berta.isnotinterested"
3614             "fylo.sofia"
3615                "oksi102"
3616             "timonich17"

[3617 rows x 1 columns]

In [5]:
df['data'] = df['data'].astype(str)
df['data'] = df['data'].str.strip('\'"')
df = df.dropna()
df = df[df['data'] != ""]
df = df[df.data.str.len() > 4]
df = df[df.data.str.len() < 30]
df = df[~ df.data.str.contains('http')]

In [6]:
df['data'] = df['data'].str.lower()

In [9]:
df.to_csv('data/third_batch_cleaned.csv',index = False)